<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns:xi="http://www.w3.org/2001/XInclude"
	packages="net.app.utils" status="WARN">
	<Appenders>
		<GuiLogger name="GuiLogger">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</GuiLogger>
		<Console name="Console">
			<PatternLayout
				pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Root level="DEBUG">
			<AppenderRef ref="Console" />
			<AppenderRef ref="GuiLogger" />
		</Root>
	</Loggers>
</Configuration>